// base
@bg-color:#FEFEFE;
@border-color:#F3F3F3;
@color:#333;
// title
@title-bg:#666;
@title-color:#FFF;

//comment
@comment-color:#969896;

//premitive
@premitive:#0086b3;

//予約語
@keyword:#a71d5d;

//function
@function:#ed6a43;

//リテラル(文字列、数字など)
@literal:#183691;

//ビルトイン関数など
@builtin:#ed6a43;;

//正規表現
@regexp:#0086b3;

//shadow
@shadow-color:#666;
@shadow:1px 1px 2px @shadow-color;

@line-height:1.6em;

.chl {
	margin: 0.5em 0;
	border:1px solid @color;
	box-shadow:@shadow;
	background: @bg-color;
	color:@color;
	overflow:none;

	div, code, pre {
		font-size: 13px;
		line-height: 1.4;
		font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace;
		margin:0;
		border:none;
	}

	span.color-block {
		display:inline-block;
		border:1px solid black;
		margin-left:0.2em;
		width:0.8em;
		height:0.8em;
		padding:0;
		vertical-align: middle;
	}

	.title {
		background:@title-bg;
		color:@title-color;
		padding:2px 6px;
		margin:0;
	}
	.premitive {
		color:@premitive;
	}

	.keyword{
		color:@keyword;
	}

	.function{
		color:@function;
	}

	.regexp{
		color:@regexp;
	}

	.literal {
		color:@literal;
	}

	.builtin {
		color:@builtin;
	}

	.comment {
		color:@comment-color;
	}

	code {
		display:flex;
		align-items:flex-start;
		padding:0;
		background: @bg-color;
		.no,.code {
			div {
				&:first-child {
					margin-top:0.3em;
				}
				vertical-align: top;
				height: @line-height;
				white-space: pre;

				// table-borderは要らないかな
				// &:nth-child(2n){
				// 	background:@border-color;
				// }
			}
		}

		.no {
			text-align:right;
			border-right:3px solid @title-bg;
			padding-bottom: 1em;//codeにスクロールバーが出た時用に1行空ける
			div {
				padding-left:0.4em;
				padding-right:0.4em;
			}
		}

		.code {
			flex-grow: 1;// 画面いっぱい使う
			overflow-x:auto;
			div {
				padding-left:1em;
				padding-right:1em;
			}
		}
	}
}